*.elc
*~
session.*
/project.hist
/ac-comphist.dat
/.org-id-locations
/tramp
/custom.el
/recentf
/.lsp-*
/emojis
/smex-items
/projectile*
/history
/eshell/history
/elpa
/url/cookies
/ido.last
/transient
.secrets.el
/request
/network-security.data
/var
.dap-breakpoints
