/url
/var/
/auto-save-list/
/backups/
/elpa/
/.cask
/places
/.smex-items
/eshell
/ac-comphist.dat
/project-persist
/.graphene-geometry
/ido.last
/tramp
/org-gcal
/gtkrc
/request
/.trello
/.gcal-credentials
/.emenv
/projectile-bookmarks.eld
/packages-refreshed
/forge-database.sqlite
/network-security.data
/transient
